.container{
width: 1070px;

}
.jumbotron{
    background:#fff;
    height: 550px;
}

textarea{
    height: 200px; 
    
}
.abc{
    margin-top: 50px;
}
p,select{
    display: inline;
    
}
p,select{
    
    margin-top: 20px;
}