 <!--step 19 add contact in html,ng model is used for 2 way data binding whatever changes we are doing should be reflected in contactlist-->


  
 <div class = "container">
        <div class="jumbotron">   
          <form   >
           <h3 style="text-align:center; color:rgb(35, 172, 35)">DOCTOR INFORMATION</h3>
  
            <div id="firstcol">
  
                <div class = "form-group">
                    <label>First Name:</label>
                    <input type ="text"  [(ngModel)] = "firstname" name = "firstname"  pattern="[a-zA-Z ][a-zA-Z ]+"  class = "form-control"  placeholder ="Enter First Name" required >
                     
                  </div>
  
                  <div class = "form-group">
                      <label>Last Name:</label>
                      <input type ="text"  [(ngModel)] = "lastname" name = "lastname" pattern="[a-zA-Z ][a-zA-Z ]+"  class = "form-control" required placeholder ="Enter Last Name" >
                     
                    </div>
      
                      <div class = "form-group">
                          <label>Mobile No:</label>
                          <input type ="text" [(ngModel)] = "mob_no" name = "mob_no" pattern="[0-9]*" class = "form-control" required  placeholder ="Enter Mobile Number" minlength="10" maxlength="13">
                        </div>
      

                        <div class="form-group">
                                <label>Gender:</label>
                                
                                    <select   [(ngModel)] = "gender"  name="gender" class="form-control"   ng-options="option.gender for option in formData.availableOptions track by option.id">
                                        <option value="">--- select---</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                   
                                      </select>
                              </div>

                <div class = "form-group">
                    <label>Email ID:</label>
                    <input type ="email" [(ngModel)] = "email" name = "email" class = "form-control"required placeholder ="Enter Email ID"  >
                  </div>
      
                  <div class = "form-group">
                      <label>Password:</label>
                      <input type ="password"  [(ngModel)] = "password" name = "password" class = "form-control" required placeholder ="Enter password" minlength="6" maxlength="10">
                         
                    </div>
                    <div class = "form-group">
                        <label>Confirm Password:</label>
                        <input type ="password"   [(ngModel)] = "password1"   name = "password1" class = "form-control" required placeholder ="Re-Enter password" minlength="6" maxlength="10">
                         
                      </div>
                      <div class="form-group">
                            <label>Upload Image:</label>  
                       <input type="file" (change)=isselected($event)>
                       
                         </div>
                     
              </div>
          
              
      
       <div  id="seccol">
            <div class="form-group">
                    <label>Education</label>
                        <select   [(ngModel)] = "education"  name="education" class="form-control"   ng-options="option.education for option in formData.availableOptions track by option.id">
                            <option value="">--- select---</option>
                            <option value="MBBS">MBBS</option>
                             </select>
                  </div>

            <div class="form-group">
                    <label>Speciality:</label>
                    
                        <select   [(ngModel)] = "speciality"  name="speciality" class="form-control"   ng-options="option.speciality for option in formData.availableOptions track by option.id">
                            <option value="">--- select---</option>
                            <option value="Dermatologists">Dermatologists</option>
                            <option value="Gastroenterologists ">Gastroenterologists </option>
                            <option value="Endocrinologists ">Endocrinologists </option>
                            <option value="Anesthesiologists ">Anesthesiologists </option>
                            <option value="Cardiologists">Cardiologists </option>
                            
                       
                          </select>
                  </div>

                  
                  <div class="form-group">
                        <label>Experience:</label>
                        
                            <select   [(ngModel)] = "experience"  name="experience" class="form-control"   ng-options="option.experience for option in formData.availableOptions track by option.id">
                                <option value="">--- select---</option>
                                <option value="Fresher">NO Such Experience</option>
                                <option value="1 year">One year</option>
                                <option value="2 year">Two year</option>
                                <option value="3 year">Three year</option>
                                <option value="4 year">Four year</option>
                                <option value="5 year">Five year</option>
                                <option value="More than 5 year">more than Five year</option>
                                 
                                 
                           
                              </select>
                      </div>
            <div class="form-group">
                
                  <label>DOB:</label>
                  
                    <my-date-picker class="form-control" id="my-date-picker" placeholder="yyyy-mm-dd"    name="mydate" [options]="myDatePickerOptions"
                                    [(ngModel)]="model"   required></my-date-picker>
               
              </div>
                
              <div class = "form-group" >
                  <label>Addhar Number:</label>
                  <input type ="text" [(ngModel)] = "adhar_no" name = "adhar_no" minlength="12" maxlength="12" class = "form-control" required placeholder ="Enter 12-digit Adhar Number">
                </div>
              
              
           
        <div class = "form-group">
            <label>City:</label>
            <input type ="text" [(ngModel)] = "city" name = "city" class = "form-control" required placeholder ="Enter Your City address">
          </div>
  
         <div class = "form-group">
                          <label>Work For:</label>
                          <select  [(ngModel)] = "work_for" name="work_for"    class="form-control"   ng-options="option.hospital for option in formData.availableOptions track by option.id">
                              <option value="">--- select---</option>
                              <option value="Hospital-1">Hospital-1</option>
                              <option value="Hospital-2">Hospital-2</option>
                              <option value="Hospital-3">Hospital-3</option>
                              <option value="Hospital-4">Hospital-4</option>
                              <option value="Hospital-5">Hospital-5</option>
                            </select>
                        </div>
  
         
          <div id="third">
             
            <div  class = "form-group">
               <label id="descrip">Certification:</label>
                     <textarea type ="text" [(ngModel)] = "certification" name = "certification"    placeholder ="Enter Certification detail in brief."></textarea>
            </div>
          
               
          </div> 
          <button   class = "btn btn btn-sucess"  (click)="onupload()"  style="color:white;margin:0px 312px;background-color:navy;">Submit form </button>
          <button   class = "btn btn btn-cancel"   style="margin:-32px 215px;background-color:rgba(58, 141, 68, 0.301);"><a href="/login">Cancel</a></button>
            </div>
            </form>
         </div>
    </div>
        
   
      
       
       
      
       
       
       
      
  
      