<div style="padding: 2px;background: #ffff;" >
    <ul>
   <a href="#">   <img src="assets/images/MyHealthRecord.png"   style="max-height:70px;margin-left:0px;">
      </a>
      <li  style="float:right"><img src="assets/images/india1.png"   style="max-height:75px;"></li>
      <li style="float:right"><img src="assets/images/digital_india_logo.png"  style="max-height:75px;"></li>
    </ul>
  </div>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-1 sidenav"  >
       
    </div>
    <div class="col-sm-9 text-left"> 
      <h1 style="text-align: center;color:navy">Take a tour of our workshop!</h1>
    <br>
     <div class="col-sm-9">
       <img src="assets/images/workshop.jpg" class="img-responsive " style="width:100%;" alt="Image"  >
      </div> 
      <p> In our almost 60 years of existence Medical Workshop has become a well known name on the international market.

          Since our foundation in 1957 we introduced a number of new ophthalmic instruments which have become so generally established that many don't remember it's origin. Even a common product like the disposable microsurgical blade with plastic handle saw it's birth at our workshops.
          
          When you want a quote or information, please contact us and we will provide you with all the details you need.
</p>
<hr>           
    </div> 

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
   </div>
  </div>
</div>

<div class="container-fluid text-center ">    
  <div class="row content">
      <div class="col-sm-1 sidenav">
           
        </div>
    <div class="col-sm-9 text-left"> 
      <h2>The Possibilities of Medicine is our Curriculum Today</h2>
      <p> Empire Medical Training continues to add new topics to present courses and additional medical workshops and CME courses to its curriculum. Many of our courses overlap between Medical Workshops and Regenerative Workshops due to the symmetry of the topics. Empire offers 11 courses as part of its Medical and Regenerative programs as well as private training options for physicians wishing to further extend their studies. In addition, Empire offers other medical programs within its Pain Management programs and Aesthetic programs as well for physicians to incorporate within a practice setting including PRP, Interventional Pain Management Injections, and skeletal muscular ultrasound training with over 34 medical and aesthetic procedural training workshops.

          Because of the overlap of procedures for medical and symmetry with other courses, Empire offers various membership options for attendees either before or after the program. Further pathways for training and board certification are available through our programs and we offer CME accreditation, AMA PRA Category 1 Credits™, for the vast majority of the training programs we offer.
     </p>
    <br>
     <div >
        <img src="assets/images/worksp1.jpg" class="col-sm-9 img-responsive" style="width:100%;max-height: 500px" alt="Image"  >
       </div> 
         
    </div>
    
  </div>
</div>
<br>
<div class="container-fluid text-center ">
  <div class="col-sm-3">

  </div>
    <div class="card col-sm-2" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-sm-2" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-sm-2" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
</div>
 <br>
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
