<div  class="container">
    <div class="jumbotron">
            <div class="card" style="width:400px;     margin-left:220px;">
                    <img class="card-img-bottom" src="assets/images/Blank_Avatar.png" alt="Card image" style="width:300px">
                 
                 </div> 
        <p><b>Name:</b> {{detail.firstname}} {{detail.lastname}}</p>
        <p><b>Moble Number:</b> {{detail.mob_no}}</p>
        <p><b>Email:</b> {{detail.email}}</p>
         <p><b>Gender:</b> {{detail.gender}}</p> 
        <p><b>City:</b> {{detail.city}}</p> 
        <p><b>Registration ID:</b> {{detail._id}}</p>
        <p><b>Adhar Number:</b> {{detail.adhar_no}}</p> 
        <p><b>Description:</b>{{detail.description}}</p>
    </div>
  </div>